/* General
   ========================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  color: var(--black);
  background: var(--yellow); /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: var(--black);
  background: var(--yellow); /* Gecko Browsers */
}

body{
  text-align: center;
  color: var(--black);
}

/* Colors
   ========================================================================== */

:root {
  --blue: rgba(33, 150, 243, 1);
  --blue-opacity: rgba(33, 150, 243, 0.75);
  --black: rgba(56, 46, 52, 1);
  --black-opacity: rgba(56, 46, 52, 0.25);
  --deep-black-opacity: rgba(40, 40, 40, 0.75);
  --deep-black: rgba(40, 40, 40, 1);
  --mid-grey: rgba(93, 93, 93, 1);
  --red: rgba(244, 67, 54, 1);
  --red-opacity: rgba(244, 67, 54, 0.75);
  --purple: rgba(190, 40, 100, 1);
  --ultra-light-grey: rgba(240, 240, 240, 1);
  --light-grey: rgba(154, 154, 154, 1);
  --yellow: rgba(233, 201, 0, 1);
  --yellow-opacity: rgba(233, 201, 0, 0.9);
  --white: rgba(255, 255, 255, 1);
  --white-opacity: rgba(255, 255, 255, 0.75);
  --shadow: rgba(0, 0, 0, 0.1);
}

/* Typography
   ========================================================================== */

h1 {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 8.5rem;
  text-shadow: 2px 1px 0px var(--white-opacity);
}

h2 {
  font-size: 2.75rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  color: var(--black);
}

h3 {
  font-size: 1.75rem;
  line-height: 2.75rem;
  margin-top: -2rem;
  color: var(--light-grey);
  font-style: italic;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.75rem;
  margin-top: -1.5rem;
}

h4, p {
  font-family: 'Lora', sans-serif;
}

h5 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

p, a {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--mid-grey);
}

#marker {
  color: var(--yellow);
  background-color: var(--black);
  padding: 0.15rem 0.35rem;
  text-shadow: none;
  border-radius: 0.25rem;
}

strong {
  font-weight:600;
}

/* General Classes
   ========================================================================== */

#hero-background, .hero, .text-background, .text, .gallery, .download, .share-links, footer {
  display: flex;
  justify-content: center;
}

.content {
  margin: 8em 2em 12em 2em;
  width: 100%;
}

/* Hero Area
   ========================================================================== */

.hero {
  overflow: hidden;
}

.hero h4 {
  text-shadow: 2px 1px 0px var(--yellow);
}

#hero-background {
  width: 100%;
  background-image: url(../img/skretch-hero.png);
  background-size: cover;
  background-color: var(--yellow);
  /* Old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(-45deg, #f2cb31, #e9c030); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(-45deg, #f2cb31, #e9c030);*/
}

#hero-text-btn {
  display: block;
  position: absolute;
  top: 0px;
  margin: 6rem 0;
}

 .hero ::selection {
  color: var(--yellow);
  background: var(--black); /* WebKit/Blink Browsers */
  text-shadow: none;
}
 .hero ::-moz-selection {
  color: var(--yellow);
  background: var(--black); /* Gecko Browsers */
  text-shadow: none;
}

/* Hero Grid
   ========================================================================== */

#grid-wrap {
  width:1600px;
  height: 800px;
}

.grid-hero {
  display: inline-grid;
  width: 100%;
  height: 100%;
  grid-template: repeat(12, 1fr) / repeat(16, 1fr);
  grid-gap: 0.5rem 0.5rem;
}

/* Circle */

.a {
  grid-area: 1 / 1 / span 4 / span 2;
  position: relative;
  height: 280px;
  width: 280px;
  border-radius: 100%;
  background-color: var(--red);
  opacity: 0.25;
  top: -20px;
  left: -120px;
}

/* Cross */

.b {
  grid-area: 1 / 1 / span 1 / span 1;
  background: var(--yellow);
  height: 115px;
  position: relative;
  width: 40px;
  top: 8rem;
  left: -4rem;
  transform: rotate(45deg);
}

.b:after {
  background: var(--yellow);
  content: "";
  height: 40px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 115px;
}

/* Cross 2 */

.c {
  grid-area: 1 / 1 / span 1 / span 1;
  background: var(--black);
  height: 85px;
  position: relative;
  width: 32px;
  top: 12rem;
  left: -8rem;
  transform: rotate(45deg);
}

.c:after {
  background: var(--black);
  content: "";
  height: 32px;
  left: -27px;
  position: absolute;
  top: 27px;
  width: 85px;
}

/* Bugs */

.d {
  grid-area: 1 / 1 / span 5 / span 2;
}

.e {
  grid-area: 5 / 2 / span 5 / span 2;
}

.f, .g {
  grid-area: 4 / 13 / span 9 / span 3;
}

.h {
  grid-area: 1 / 10 / span 2 / span 4;
  z-index: 98;
}

.i {
  grid-area: 1 / 16 / span 1 / span 1;
  z-index: 99;
}

.d img, .e img {
  width: auto;
  filter: sepia(80%);
  height: 300px;
  opacity: 0.85;
}

.f img {
  height: 860px;
  width: auto;
  opacity: 0.85;
}

.g img {
  height: 860px;
  width: auto;
  filter: sepia(80%);
  opacity: 0.85;
}

/* Ruler */

.h img {
  height: 65px;
  width: auto;
}

/* Contact icon */

.i img {
  color: var(--yellow);
  background-color: var(--black);
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 100%;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
  padding: 1.5rem;
}

.i img:hover {
  background-color: var(--purple);
}

/* Used to display grid stroke */
/*
.box {
  border: 2px solid black;
}
*/

/* Text
   ========================================================================== */

.text {
  background-color: white;
  box-shadow: -1rem 0 3rem var(--shadow);
  transform: skewY(1.5deg);
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;
}

.text img {
  height: 216px;
  width: auto;
}

.text .content {
  transform: skewY(-1.5deg);
}

/* Gallery
   ========================================================================== */

.gallery {
  background-color: var(--ultra-light-grey);
  background-image: url(../img/skretch-black.png);
  background-size: cover;
}

#image-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.img-gallery {
  background-size: cover;
  border-radius: 0.5rem;
}

.img-overlay {
  color: var(--black);
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-overlay:hover {
  opacity: 1;
  background-color: var(--deep-black-opacity);
}

.icon-gallery {
  height: 64px;
  width: 64px;
  fill: var(--white);
}

.img-gallery h5 {
  letter-spacing: 0rem;
  text-transform: none;
  margin: 0;
  color: var(--white);
}

.b2 {
  background-image: url(../img/housing_thumb.jpg);
  width: 29rem;
  height: 29rem;
  margin-right: 2rem;
}

.c2 {
  background-image: url(../img/pond_thumb.jpg);
  width: calc(100% - 31rem);
  height: 29rem;
}

.a2 {
  background-image: url(../img/welcome_thumb.jpg);
  width: 100%;
  height: 450px;
  background-position: bottom;
}


/* Button
   ========================================================================== */

.button {
  min-width: 240px;
  font-weight: 500;
  padding: 0.65em 2em;
  border-radius:40px;
  margin: 1.5rem;
  color: var(--yellow);
  background-color: var(--purple);
  text-decoration: none;
}

/* Download
   ========================================================================== */

.download {
   background-color: var(--white);
   transform: skewY(1.5deg);
   margin-top: -2.5rem;
   margin-bottom: -2.5rem;
}

.download .content {
   margin: 6em 2em;
   transform: skewY(-1.5deg);
}

.img-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-txt img, .txt {
  width: 50%;
  display: inline-block;
  padding-right: 3rem;
  z-index: 4;
}

.download .txt {
  border-left: 3px dotted var(--black-opacity);
  text-align: left;
  padding-left: 3rem;
}

#p1 {
  margin-top: 0;
}

#p2 {
  margin-bottom: 0;
}


.download .button {
  color: var(--white);
}

.download h4 {
  display: block;
  margin-top: 2rem;
  font-family: 'Libre Franklin';
  font-size: 1.5rem;
  font-weight: 100;
}

/* Share Links
   ========================================================================== */

.share-links {
  background-color: var(--yellow);
}

.share-links .content{
  margin: 8.5em 2em 6em 2em;
}

.share-links h3 {
  font-style: normal;
  color: var(--black);
  margin-top: 0;
}

.icon-bar {
  display: flex;
  justify-content: center;
}

/* Style the icon bar links */

.icon-bar svg {
  fill: var(--black);
  width: 36px;
  height: 36px;
}

.icon-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: all 0.3s ease;
  border-radius: 100%;
  background-color: var(--black-opacity);
  line-height: 32px;
  margin: 0 0.5rem;
 }

 .icon-bar a:hover {
   background-color: var(--black);
 }

 .icon-bar a:hover svg {
   fill: var(--yellow);
 }


/* Footer
   ========================================================================== */

footer {
  background-color: var(--black);
  text-align: left;
}

footer .content {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

footer p {
  font-size: 1.1rem;
  color: var(--yellow);
  font-family: "Libre Franklin", sans-serif;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}

footer a {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--yellow);
}

footer a:hover {
  color: var(--white);
}

footer img {
  height: 5rem;
  width: auto;
  margin-left: 2rem;
}

.image-wrap {
  position: relative;
  float:right;
  top: -1rem;
}

#no-margin {
  margin-left: 0;
}

/* Media Query
   ========================================================================== */

@media only screen and (min-width: 1024px){

/* Ruleset for Desktop and Landscape iPad*/

  .content {
    max-width: 1200px;
  }

/* Hero */

  #br-1, #br-2 {
    display: none;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

/* Ruleset for 768px - 920px */

  .content {
    max-width: 920px;
  }

/* Typography */

  h1 {
    font-size: 6.5rem;
    line-height: 7rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

/* Hero */

  #br-1 {
    display: none;
  }

  #grid-wrap {
    height: 680px;
  }

  #hero-text-btn {
    margin: 4rem 0;
  }

  .d img, .e img {
    opacity: 0.4;
  }

  .f img, .g img {
    opacity: 0.4;
    height: 720px;
  }

  .h img {
    height: 56px;
  }

/* Gallery */

  .a2 {
    width: 100%;
    height: 20rem;
  }

  .b2 {
    width: 20rem;
    height: 20rem;
  }

  .c2 {
    height: 20rem;
    width: calc(100% - 20rem);
  }

  /* Download */

  .download .content {
    width: 80%;
  }

  .img-txt {
    display: block;
    align-items: center;
    margin: 0 auto;
  }

  .img-txt img, .txt {
    display: block;
    padding: 3rem;
    width: 100%;
  }

  .img-txt p {
    border-left: none;
    text-align: center;
  }

  .download .txt {
    border-left: none;
    padding-top: 0;
  }

  .download .txt::before {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 40px; /* This creates some space between the element and the border. */
    border-top: 3px dotted var(--black-opacity); /* This creates the border. Replace black with whatever color you want. */
  }
}



@media only screen and (min-width: 520px) and (max-width: 768px) {

/* Portrait iPad */

  .content {
    max-width: 768px;
    margin: 3em 1em 9em 1em;
  }

  ul, ol, li, pre, form, p, blockquote, fieldset, input {
    margin: 0;
  }

/* Typography */

  h1 {
    font-size: 13vw;
    line-height: 15vw;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.25rem;
  }

  p, a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

/* Hero */

  #br-1 {
    display: none;
  }

  #grid-wrap {
    height: 660px;
  }

  #hero-text-btn {
    margin: 4rem 0;
  }

  .d img, .e img {
    opacity: 0;
  }

  .f img, .g img {
    opacity: 1;
    height: 320px;
  }

  .h img {
    height: 44px;
  }

  .f, .g{
    grid-area: 10 / 1 / span 2 / span 16;
  }

  .h{
    grid-area: 1 / 1 / span 1 / span 16;
  }

  .i img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    position: relative;
    top: 1.5rem;
    right: 1.5rem;
    padding: 1rem;
    line-height: 1.5rem;
  }

/* Button */

  #outline-btn {
    padding: 0.5em 2em;
    border: 5px solid var(--black);
    border-radius: 32px;
    color: var(--yellow);
    background-color: var(--black);
    margin-left: 1.5rem;
    min-width: 200px;
  }

/* Text */

  .text img {
    transform: scale(0.8);
  }

  .text {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
  }

/* Gallery */

  #image-row {
    display: block;
    justify-content: center;
    margin-bottom: 0;
  }

  .img-gallery {
    background-size: cover;
    width: 100%;
    height: 20rem;
    margin-right: 0;
    margin-top: 1rem;
    background-position: left center;
  }

  .b2 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--white);
  }

/* Footer */

footer .content {
    justify-content: center;
    text-align: center;
  }

  footer p {
    margin: 1rem;
  }

  .image-wrap {
    position: inherit;
    float: none;
    top: 0;
  }

  /* Download */

  .download .content {
    width: 80%;
  }

  .img-txt {
    display: block;
    align-items: center;
    margin: 0 auto;
  }

  .img-txt img, .txt {
    display: block;
    padding: 3rem;
    width: 100%;
  }

  .img-txt p {
    border-left: none;
    text-align: center;
  }

  .download .txt {
    border-left: none;
    padding-top: 0;
  }

  .download .txt::before {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 40px; /* This creates some space between the element and the border. */
    border-top: 3px dotted var(--black-opacity); /* This creates the border. Replace black with whatever color you want. */
  }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {

/* Smartphones */

  .content {
    max-width: 768px;
    margin: 3em 1em 9em 1em;
  }

  ul, ol, li, pre, form, p, blockquote, fieldset, input {
    margin: 0;
  }

/* Typography */

  h1 {
    font-size: 12vw;
    line-height: 15vw;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1rem 0;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: -3rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h5 {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 4px;
  }

  #show-hide {
    display: none;
  }

  p, a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

/* Hero */

  #grid-wrap {
    height: 620px;
  }

  #hero-text-btn {
    margin: 4rem 0;
  }

  .d img, .e img {
    opacity: 0;
  }

  .f img, .g img {
    opacity: 1;
    height: 320px;
  }

  .h img {
    height: 44px;
  }

  .f, .g{
    grid-area: 10 / 1 / span 2 / span 16;
  }

  .h{
    grid-area: 1 / 1 / span 1 / span 16;
  }

  .i img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    position: relative;
    top: 1.25rem;
    right: 1.25rem;
    padding: 0.75rem;
  }

/* Button */

  #outline-btn {
    padding: 0.5em 2em;
    border: 5px solid var(--black);
    border-radius: 32px;
    color: var(--yellow);
    background-color: var(--black);
    margin-left: 1.5rem;
    min-width: 200px;
  }

/* Text */

  .text img {
    transform: scale(0.8);
  }

  .text {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
  }

/* Gallery */

  #image-row {
    display: block;
    justify-content: center;
    margin-bottom: 0;
  }

  .img-gallery {
    background-size: cover;
    width: 100%;
    height: 20rem;
    margin-right: 0;
    margin-top: 1rem;
    background-position: left center;
  }

  .b2 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--white);
  }

/* Footer */

footer .content {
    justify-content: center;
    text-align: center;
  }

  footer p {
    margin: 1rem;
  }

  .image-wrap {
    position: inherit;
    float: none;
    top: 0;
  }

  /* Download */

  .download .content {
    margin: 3em 1em 9em 1em;
  }


  .img-txt {
    display: block;
    align-items: center;
    margin: 0 auto;
  }

  .img-txt img, .txt {
    display: block;
    width: 100%;
  }

  .img-txt img {
    padding: 1rem;
  }

  .img-txt p {
    border-left: none;
    text-align: center;
  }

  .download .txt {
    border-left: none;
    padding: 0 1rem 2rem 1rem;
  }

  .download .txt::before {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 40px; /* This creates some space between the element and the border. */
    border-top: 3px dotted var(--black-opacity); /* This creates the border. Replace black with whatever color you want. */
  }

  .download h4 {
    font-size: 1.25rem;
  }

}

@media only screen and (max-width: 320px) {

/* iPhone 4 */

  .content {
    max-width: 320px;
    margin: 2em 1em 6em 1em;
  }

  ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    margin: 0.5rem 0;
  }

/* Typography */

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding: 1rem 0;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.75rem;
  }


  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h5 {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 4px;
  }

  #show-hide {
    display: none;
  }

  p, a {
    font-size: 1.1rem;
    line-height: 1.75rem;
  }

  span {
    padding: 0.1rem 0.45rem;
  }

/* Hero */

  #grid-wrap {
    height: 480px;
  }

  #hero-text-btn {
    margin: 4rem 0;
  }

  .d img, .e img {
    opacity: 0;
  }

  .f img, .g img {
    opacity: 1;
    height: 240px;
  }

  .f, .g{
    grid-area: 10 / 1 / span 2 / span 16;
  }

  .h img {
    height: 44px;
  }

  .f, .g{
    grid-area: 10 / 1 / span 2 / span 16;
  }

  .h{
    grid-area: 1 / 1 / span 1 / span 16;
  }

  .f, .g{
    grid-area: 10 / 1 / span 2 / span 16;
  }

  .h{
    grid-area: 1 / 1 / span 1 / span 16;
  }

  .i img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    position: relative;
    top: 1.25rem;
    right: 1.25rem;
    padding: 0.75rem;
  }

/* Button */

  #outline-btn {
    padding: 0.5em 2em;
    border: 5px solid var(--black);
    border-radius: 32px;
    color: var(--yellow);
    background-color: var(--black);
    margin-left: 1.5rem;
    min-width: 200px;
  }

/* Text */

  .text img {
    transform: scale(0.6);
  }

  .text {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
  }

/* Gallery */

  #image-row {
    display: block;
    justify-content: center;
    margin-bottom: 0;
  }

  .img-gallery {
    background-size: cover;
    width: 100%;
    height: 16rem;
    margin-right: 0;
    margin-top: 1rem;
    background-position: left center;
  }

/* Footer */

  footer .content {
    justify-content: center;
    text-align: center;
  }

  footer p {
    margin: 1rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  footer a {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .image-wrap {
    position: inherit;
    float: none;
    top: 0;
  }
}

/* Hero Text Animation
   ========================================================================== */

.distort-text {
    padding: 10px;
    animation: distort-text 400ms 1;
}
.distort-text:hover {
    animation: distort-text 400ms infinite;
}
@keyframes distort-text {
    0% {
        text-shadow: 4px 3px var(--red-opacity), -4px -5px var(--blue-opacity);
    }
    25% {
        text-shadow: -4px -5px var(--red-opacity), 4px 3px var(--blue-opacity);
    }
    50% {
        text-shadow: 4px -3px var(--red-opacity), -7px 3px var(--blue-opacity);
    }
    75% {
        text-shadow: -7px -3px var(--red-opacity), -4px -3px var(--blue-opacity);
    }
    100% {
        text-shadow: -4px 0 var(--red-opacity), 4px -3px var(--blue-opacity);
    }
}


/* Hero Text Animation
   ========================================================================== */

.distort-btn {
    animation: distort-btn 400ms 0;
}
.distort-btn:hover {
    animation: distort-btn 400ms infinite;
}
@keyframes distort-btn {
    0% {
        box-shadow: 3px 2px var(--red-opacity), -3px -4px #;
    }
    25% {
        box-shadow: -3px -4px var(--red-opacity), 3px 2px var(--blue-opacity);
    }
    50% {
        box-shadow: 3px -2px var(--red-opacity), -6px 2px var(--blue-opacity);
    }
    75% {
        box-shadow: -6px -2px var(--red-opacity), -3px -2px var(--blue-opacity);
    }
    100% {
        box-shadow: -3px 0 var(--red-opacity), 3px -6px var(--blue-opacity);
    }
}

/* Hero Butterfly Animation
   ========================================================================== */

.distort-img {
    animation: distort-img 300ms 2;
}
.distort-img {
    animation: distort-img 400ms infinite;
}

@keyframes distort-img {
    0% {
        filter: none;
        opacity: 0.5;
    }
    20% {
        filter:invert(100%);
        position: relative; top: -50px; left: -25px;
        opacity: 0.15;
    }
    40% {
        filter: none;
        position: relative; top: 5px; left: -5px;
        opacity: 0.5;
    }
    60% {
        filter:invert(100%);
        position: relative; top: 0px; left: 20px;
        opacity: 0.35;
    }
    80% {
        filter: none;
        position: relative; top: 10px; left: -20px;
        opacity: 0.85;
    }
    100% {
        filter: none;
        opacity: 0.5;
    }
}

/* + Plus Animation
   ========================================================================== */


.c:hover {
  animation:
    nudge 5s linear infinite alternate;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);

  }

  50% {
    transform: translate(50px, 0);

  }

  80% {
    transform: translate(-50px, 0);

  }
}

/* Lightbox
   ========================================================================== */

   /* The Modal (background) */
   .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: black;
   }

   /* Modal Content */

   .modal-content {
     position: relative;
     margin: auto;
     padding: 0;
     width: 90%;
     max-width: 1200px;
   }

   /* The Close Button */
   .close {
     color: white;
     position: absolute;
     top: 16px;
     right: 24px;
     font-size: 36px;
     font-weight: bold;
   }

   .close:hover,
   .close:focus {
     color: #999;
     text-decoration: none;
     cursor: pointer;
   }

   /* Hide the slides by default */
   .mySlides {
     display: none;
   }

   /* Next & previous buttons */
   .prev,
   .next {
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 50%;
     padding: 16px;
     transition: 0.6s ease;
     user-select: none;
     -webkit-user-select: none;
     fill: var(--white);
     border-radius: 100%;
     background-color: var(--black);
     margin: 0 -36px;
   }

   /* Position the "next button" to the right */
   .next {
     right: 0;
   }

   /* On hover, add a black background color with a little bit see-through */
   .prev:hover,
   .next:hover {
     background-color: var(--yellow);
   }

   .prev:hover svg,
   .next:hover svg {
     fill: var(--black);
   }

   /* Number text (1/3 etc) */
   .numbertext {
     color: var(--white);
     font-size: 16px;
     padding: 8px 16px;
     position: relative;
     margin: 0 auto;
   }

   /* Caption text */
   .caption-container {
     text-align: center;
     background-color: black;
     padding: 2px 16px;
     color: white;
   }

   img.demo {
     opacity: 0.6;
   }

   .active,
   .demo:hover {
     opacity: 1;
   }

   img.hover-shadow {
     transition: 0.3s;
   }

   .hover-shadow:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
